[Unit]
Description=Olympus development Envoy on fxcompute-01
Wants=olympus-dev-hall.service
After=olympus-dev-hall.service

[Service]
Type=simple
WorkingDirectory=/home/rpw/olympus-dev
Environment="HOME=/home/rpw"
Environment="OLYMPUS_HOME=/home/rpw/.olympus-dev"
Environment="OLYMPUS_CONTROL_SOCKET=/home/rpw/.olympus-dev/control.sock"
Environment="OLYMPUS_NODE_ID=fxcompute-01"
Environment="OLYMPUS_ENVOY_ROLES=agent_runtime,job_runner"
Environment="OLYMPUS_JOB_ROOT=/srv/olympus-dev/jobs"
Environment="PATH=/home/rpw/.local/bin:/home/rpw/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
Environment="CARGO_HOME=/var/lib/olympus/cargo-home"
Environment="CARGO_TARGET_DIR=/var/lib/olympus/cargo-target-dev"
Environment="RUSTUP_HOME=/home/rpw/.rustup"
Environment="SCCACHE_DIR=/var/lib/olympus/sccache"
ExecStartPre=/home/rpw/olympus-dev/scripts/assert-dev-worktree.sh
ExecStart=/home/rpw/.olympus-dev/bin/olympus-envoy-dev --node-id fxcompute-01 --roles agent_runtime,job_runner --job-root /srv/olympus-dev/jobs
Restart=on-failure
RestartSec=5
KillMode=control-group
TimeoutStopSec=20
UMask=0077
MemoryHigh=2G
MemoryMax=3G
TasksMax=2048

[Install]
WantedBy=default.target
